<%# @entries = {:title, :link, :description, :creator, :date, :tag, :head_text} %>
<div class="row">
    <% @entries.each do |entry| %>
      <div class="col-sm-3 entry-card">
      <ul>
        <li><%= link_to entry[:title], entry[:link], :target=>["_blank"] %></li>
        <li><%= truncate(entry[:head_text], length: 40) %></li>
        <li><%= entry[:creator] %></li>
        <li><%= truncate(entry[:description], length: 35) %></li>
        <li><%= entry[:date] %></li>
      </ul>
    </div>
    <% end %>
</div>
