<%# @entries = {:title, :link, :description, :creator, :date, :tags, :head_text, :favicon, :entry_img, :bookmarkcount} %>
<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-sm-3 entry-card">
      <div class="entry-bookmarkcount">
        <%= entry[:bookmarkcount]%> USERS
      </div>
      <hr>

      <div class="entry-creator">
        <%= entry[:creator] %>
        <%= truncate(entry[:description], length: 20) %>
      </div>
      <hr>

      <div class="entry-title">
        <%= image_tag(entry[:favicon]) %>
        <%= link_to truncate(entry[:title], length: 45), entry[:link], :target=>["_blank"] %>
      </div>

      <div class="entry-img">
        <%# origina img is 120x90 or 90x120%>
        <%= entry[:entry_img] != nil ? image_tag(entry[:entry_img], :size => "120x90") : truncate(entry[:head_text], length: 60) %>
      </div>

      <div class="entry-date">
        <%= entry[:date] %>
      </div>
      <hr>

      <!-- <div class="entry&#45;tags"> -->
      <!--   <% entry[:tags].each do |tag_name| %> -->
      <!--     <%=print tag_name %> -->
      <!--   <% end %> -->
      <!-- </div> -->
    </div>
  <% end %>
</div>
